/* style.css */

.block {
    background-color: #f8f9fa;
    padding: 2rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Archivo Black";
}

footer {
    background-color: #333;
    color: #eee;
}

nav .social-icon {
    fill: #212529;
}

nav .social-icon:hover {
    fill: #444;
}

footer .social-icon {
    fill: #eeeeee;
}

footer .social-icon:hover {
    fill: #ccc;
}

.disappear {
    opacity: 0;
    margin-left: -50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.appear {
    opacity: 100%;
    margin-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}